html, body {
  background: #224de3;
}

.App {
  text-align: center;
}

.smurfCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.smurfCardContent {
  border: 2px solid #ffffff;
  margin: 2%;
  width: 40%;
  padding: 2%;
  color: #ffffff;
}

.smurfCardContent span {
  color: #e3d900;
}

.inputs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
}

.form input {
  border-radius: 5px;
  font-size: 1rem;
}

.form h1 {
  font-size: 2rem;
  color: #e3d900;
}